.nav,();.pagination,();.carousel,();.panel-title();a();{
	cursor:();pointer;
}
body{
	overflow: hidden;
}
.usuarioSesion{
	color: red;
}
.menuIzquierdo, .contenido{
	height: 100%;
}
.menuIzquierdo{
	background-color: #333;
}
.contenido{
	background-color: #eee;
	padding-top: 2em;
	padding-left: 1em;
	padding-right: 1em;
}
.container{
	max-width: 1100px;
}
